In [1]:
import graphlab

In [2]:
discogs_frame = graphlab.SFrame('discogs.csv')

This non-commercial license of GraphLab Create for academic use is assigned to jbmlaird@gmail.com and will expire on April 20, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\j\AppData\Local\Temp\graphlab_server_1493498315.log.0

Finished parsing file G:\Git\DiscogsML\discogs.csv

Parsing completed. Parsed 100 lines in 0.839801 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,long,long,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 3167069 lines. Lines per second: 2.88164e+006

Read 26986418 lines. Lines per second: 4.28218e+006

Read 50268723 lines. Lines per second: 4.44785e+006

Read 72792719 lines. Lines per second: 4.44382e+006

Finished parsing file G:\Git\DiscogsML\discogs.csv

Parsing completed. Parsed 90023677 lines in 19.6988 secs.

In [3]:
discogs_frame.head()

Columns:
	1	int
	63257	int
	0	int
	0.1	int

Rows: 10

Data:
+---+-------+---+-----+
| 1 | 63257 | 0 | 0.1 |
+---+-------+---+-----+
| 1 | 31435 | 0 |  0  |
| 1 | 77503 | 0 |  0  |
| 1 | 19282 | 0 |  0  |
| 1 | 71232 | 0 |  0  |
| 1 | 83485 | 0 |  0  |
| 1 | 32466 | 0 |  0  |
| 1 |  5471 | 5 |  0  |
| 1 |  5482 | 0 |  0  |
| 1 | 10372 | 0 |  0  |
| 1 | 13148 | 0 |  1  |
+---+-------+---+-----+
[10 rows x 4 columns]

In [4]:
discogs_frame.dtype

<bound method SFrame.dtype of Columns:
	1	int
	63257	int
	0	int
	0.1	int

Rows: 90023677

Data:
+---+-------+---+-----+
| 1 | 63257 | 0 | 0.1 |
+---+-------+---+-----+
| 1 | 31435 | 0 |  0  |
| 1 | 77503 | 0 |  0  |
| 1 | 19282 | 0 |  0  |
| 1 | 71232 | 0 |  0  |
| 1 | 83485 | 0 |  0  |
| 1 | 32466 | 0 |  0  |
| 1 |  5471 | 5 |  0  |
| 1 |  5482 | 0 |  0  |
| 1 | 10372 | 0 |  0  |
| 1 | 13148 | 0 |  1  |
+---+-------+---+-----+
[90023677 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.>

In [5]:
discogs_frame.show()

Canvas is accessible via web browser at the URL: http://localhost:29637/index.html
Opening Canvas in default web browser.

In [16]:
discogs_frame.rename({'1':'userId', '62357':'discogsId', '0':'rating','0.1':'category'})

ValueError: Cannot find column 62357 in the SFrame

In [17]:
discogs_frame.column_names

<bound method SFrame.column_names of Columns:
	1	int
	63257	int
	0	int
	0.1	int

Rows: 90023677

Data:
+---+-------+---+-----+
| 1 | 63257 | 0 | 0.1 |
+---+-------+---+-----+
| 1 | 31435 | 0 |  0  |
| 1 | 77503 | 0 |  0  |
| 1 | 19282 | 0 |  0  |
| 1 | 71232 | 0 |  0  |
| 1 | 83485 | 0 |  0  |
| 1 | 32466 | 0 |  0  |
| 1 |  5471 | 5 |  0  |
| 1 |  5482 | 0 |  0  |
| 1 | 10372 | 0 |  0  |
| 1 | 13148 | 0 |  1  |
+---+-------+---+-----+
[90023677 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.>